<div class="tabsdemoStaticTabs sample">
    <md-tabs class="md-accent" md-selected="ul.data.selectedIndex">
        <md-tab  id="tab1" aria-controls="tab1-content">
            JS
        </md-tab>
        <md-tab  id="tab2" aria-controls="tab2-content">
            HTML
        </md-tab>
        <md-tab id="tab3" aria-controls="tab3-content">
            CSS
        </md-tab>
    </md-tabs>


    <ng-switch on="ul.data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="ul.next()"
             md-swipe-right="ul.previous()">
            <div class="code-highlight" hljs include="ul.selected.code.javascript"></div>
        </div>
        <div role="tabpanel"
             id="tab2-content"
             aria-labelledby="tab2"
             ng-switch-when="1"
             md-swipe-left="ul.next()"
             md-swipe-right="ul.previous()">
            <div class="code-highlight" hljs include="ul.selected.code.html"></div>
        </div>
        <div role="tabpanel"
             id="tab3-content"
             aria-labelledby="tab3"
             ng-switch-when="2"
             md-swipe-left="ul.next()"
             md-swipe-right="ul.previous()">
            <div class="code-highlight" hljs include="ul.selected.code.css"></div>
        </div>
    </ng-switch>
</div>