<p>Angular is a structured Framework for dynamic WebApps. It’s a complete client side solution to write applications
    using a really good implementation of MVC pattern.</p>
<h2>The keys</h2>
<ul>
    <li>Lets you extends HTML in an easy and clean way.</li>
    <li>Makes you to decouple client and server site of your application. So you can progress in parallel and reuse both
        sides
    </li>
    <li>It's compatible with all other web technologies</li>
    <li>Makes testing easy</li>
    <li>Decouples DOM manipulation from application logic</li>
    <li>Solves everything you need to write applications, from files through code injection until testing.</li>
    <li>Defines good practices and makes you write clean code.</li>
    <li>It's a good and compatible approach to components model.</li>
</ul>

<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
    <md-button><img style="height:300px;padding:10px" src="/assets/images/letscode.jpg" ng-click="ul.showTheCode()">
    </md-button>
</md-whiteframe>