<h4>Templates are Htmls with angular specific elements.</h4>
<p>Its important to understand that in Angular templates are rendered in front-end.</p>

<p>These are the types of Angular elements and attributes you can use:</p>
<ul>
    <li><b>Directive</b> — An attribute or element that augments an existing DOM element or represents a reusable DOM component.</li>
    <li><b>Markup</b> — The double curly brace notation {{ }} to bind expressions to elements is built-in Angular markup</li>
    <li><b>Filter</b> — Formats data for display.</li>
    <li><b>Form controls</b> — Validates user input.</li>

</ul>

<div ng-include="'/src/users/view/codeView.html'"></div>